<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Привет тебе на странице quiz!</p>

<div th:each="elem : ${quiz.list}">
    <p th:text="${elem.question.questionDescription}"></p>
    <div>
        <input th:value="${elem.question.code}"/>
    </div>
    <div th:each="el : ${elem.answers}">
        <input name="answerButton" type="button" th:value="${el.answer}"/>
    </div>
</div>

</body>

<script type="text/javascript">

</script>
</html>